@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
/* shared style */

.container {
    max-width: 1240px;
    margin: 50px auto;
}

.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(221, 0, 0);
    font-size: 1.4rem;
    padding: 16px 20px;
    color: white;
    border: none;
}
/* animation */
@keyframes banner-animation {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }   
    50%{
        opacity: 0.5;
        transform: translateX(-10px);
    } 
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes banner-player-animation {
    0%{
        opacity: 0.5;
        transform: translateX(-20px);
    }   
    50%{
        opacity: 0.7;
        transform: translateX(-10px);
    } 
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


/* banner */
.banner-container {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border-radius: 30px;
    animation: banner-animation 0.7s ease-out forwards;
}

.banner-left {
    padding-left: 45px;
    flex: 1;

}

.banner-left h2 {
    font-size: 4.1rem;
    font-weight: 600;
    line-height: 4rem;
}

.banner-left p {
    color: rgb(203, 200, 200);
    font-weight: 300;
    margin: 20px 0;
    max-width: 65%;
}

.banner-right img {
    display: block;
    animation: banner-player-animation 1s ease-in infinite;
}

.banner-right {
    flex: 1;
}

/* main section */
.upcoming-match-container {
    gap: 55px;
    animation: banner-animation .06s ease-out alternate-reverse ;
}

.upcoming-match-left {
    width: 25%;
    flex-direction: column;
    background-color: black;
    padding: 25px;
    border-radius: 10px;
    height: fit-content;
}

.upcoming-match-left button:nth-child(1),
.upcoming-match-left button:nth-child(2),
.upcoming-match-left button:nth-child(3) {
    background-color: white;
    color: black;
    border: none;
    margin-bottom: 25px;

}

.upcoming-match-left button:nth-child(3) {
    background: rgb(221, 0, 0);
    color: white;
}

.upcoming-match-right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.upcoming-match-right,
.card {
    /* border: 1px solid black; */
    border-radius: 10px;
}

.upcoming-match-right img {
    height: 175px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.upcoming-match-right button {
    padding: 4px 16px;
    color: rgb(22, 22, 22);
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
}

.upcoming-match-right h2 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(22, 22, 22);
    line-height: 1.2rem;
}

.upcoming-match-right .card .card-body {
    padding: 20px;
}

.icon {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    color: rgba(22, 22, 22, 0.8);
}

/* Footer */
.footer{
    background-color: black;
    color: white;
    text-align: center;
}
.footer h2{
    padding-top: 130px;
    font-weight: 600;
    font-size: 2.5rem;
}
.footer ul{
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 50px 0;
}
.footer ul li{
    font-weight: 500;
}

/* responsive design */

@media screen and (max-width: 992px) {
    .container{
        margin: 10px;
    }
    .banner-left h2 {
        font-size: 2.5rem;

        line-height: 2.5rem;
    }
    .banner-left p{
        width: 100%;
    }

    .upcoming-match-container {
        flex-direction: column;
    }

    .upcoming-match-left {
        flex-direction: row;
        width: 100%;
        background: transparent;
    }

    .upcoming-match-left * {
        flex: 1;
    }

    .upcoming-match-right {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer ul{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 786px) {
    .container{
        margin: 5px 10px;
    }
    .banner-container{
        flex-direction: column;
        text-align: center;
    }
    .banner-container .banner-left{
        padding-left: 0;
        padding-top: 20px;
    }
    .banner-left p{
        /* max-width: 100%; */
        margin: 15px auto;
    }
    .upcoming-match-right{
        grid-template-columns: 1fr;
    }
    .footer ul{
        flex-direction: column;
    }
    
}